In [2]:
import pandas as pd # type: ignore
import seaborn as sns # type: ignore
import matplotlib.pyplot as plt # type: ignore

In [3]:
df_abusive = pd.read_csv('../archive/abusive.csv')
df_abusive.head(125)

         ABUSIVE
0           alay
1          ampas
2           buta
3        keparat
4         anjing
..           ...
120        rezim
121        sange
122       serbet
123        sipit
124  transgender

[125 rows x 1 columns]

In [22]:
# Membaca file CSV
df_newkamus = pd.read_csv('./archive/new_kamusalay.csv', encoding='latin1')

# Menyimpan DataFrame sebagai file Excel
df_newkamus.to_excel('./archive/new_kamusalay.xlsx', index=False)

In [27]:
df_newkamus = pd.read_excel('./archive/new_kamusalay.xlsx')
df_newkamus.head(20000)

      anakjakartaasikasik           anak jakarta asyik asyik
0            pakcikdahtua                  pak cik sudah tua
1          pakcikmudalagi                  pak cik muda lagi
2             t3tapjokowi                       tetap jokowi
3                      3x                          tiga kali
4                  aamiin                               amin
...                   ...                                ...
15161           mendikbud  menteri pendidikan dan kebudayaan
15162              mendag                menteri perdagangan
15163             menaker               menteri tenaga kerja
15164            memetwit                            mentwit
15165            megangin                           memegang

[15166 rows x 2 columns]

In [26]:
df_newkamus = pd.read_csv('./archive/new_kamusalay.csv', encoding='latin1')
df_newkamus.head()

  anakjakartaasikasik anak jakarta asyik asyik
0        pakcikdahtua        pak cik sudah tua
1      pakcikmudalagi        pak cik muda lagi
2         t3tapjokowi             tetap jokowi
3                  3x                tiga kali
4              aamiin                     amin