In [5]:
import pandas as pd # type: ignore

In [6]:
df = pd.read_csv('../archive/new_kamusalay.csv', encoding='latin1')
df.head(15166)

      anakjakartaasikasik           anak jakarta asyik asyik
0            pakcikdahtua                  pak cik sudah tua
1          pakcikmudalagi                  pak cik muda lagi
2             t3tapjokowi                       tetap jokowi
3                      3x                          tiga kali
4                  aamiin                               amin
...                   ...                                ...
15161           mendikbud  menteri pendidikan dan kebudayaan
15162              mendag                menteri perdagangan
15163             menaker               menteri tenaga kerja
15164            memetwit                            mentwit
15165            megangin                           memegang

[15166 rows x 2 columns]

In [9]:
import re

text = "pak cik sudah tua"

# Regex tanpa grup penangkapan
regex_without_groups = r"\b([A-Za-z]+\s)+[A-Za-z]+"
match_without_groups = re.match(regex_without_groups, text)
if match_without_groups:
    print(match_without_groups.group())

pak cik sudah tua