In [5]:
import pandas as pd # type: ignore

In [ ]:
# Fungsi untuk memuat alaymap dari CSV
def load_alaymap(csv_file):
    df = pd.read_csv(csv_file)
    alaymap = dict(zip(df['alias'], df['standard']))
    return alaymap

In [ ]:
# Memuat alaymap dari file CSV
alaymap = load_alaymap('new_kamusalay.csv')

In [ ]:
# # Contoh penggunaan
# text = "gt gk tp brb bgt"
# cleaned_text = clean_text(text, alaymap, stop_words)
# print(cleaned_text)  # Output: "great tidak tapi be right back banget"

In [6]:
df = pd.read_csv('../archive/new_kamusalay.csv', encoding='latin1')
df.head(15166)

      anakjakartaasikasik           anak jakarta asyik asyik
0            pakcikdahtua                  pak cik sudah tua
1          pakcikmudalagi                  pak cik muda lagi
2             t3tapjokowi                       tetap jokowi
3                      3x                          tiga kali
4                  aamiin                               amin
...                   ...                                ...
15161           mendikbud  menteri pendidikan dan kebudayaan
15162              mendag                menteri perdagangan
15163             menaker               menteri tenaga kerja
15164            memetwit                            mentwit
15165            megangin                           memegang

[15166 rows x 2 columns]